.faq {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: white;


  margin-bottom: 120px;
}

.faq-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
  color: #1a1a1a;
}

.faq-list {
  /* max-width: 800px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item:hover {
  border-color: #fd8d3c;
  box-shadow: 0 4px 12px rgba(253, 141, 60, 0.1);
}

.faq-question {
  width: 100%;
  padding: 18px;
  background: none;
  border: none;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.faq-question:hover {
  color: #fd8d3c;
}

.faq-left-block {
  display: flex;
  align-items: center;
  gap: 22px;
}

.faq-left-block img {
  background-color: #FFE8D8;
  height: 34px;
  width: 34px;
  padding: 15px;
  border-radius: 12px;
}

.faq-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: #fd8d3c;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  text-align: left;
  margin-left: 86px;
}

.faq-item.active .faq-answer {
  max-height: 500px;
}

.faq-answer-content {
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: rgba(26, 26, 26, 0.7);
}

@media (min-width: 1024px) {
  .faq {
    padding: 80px 0;
  }

  .faq-title {
    font-size: 48px;
  }

  .faq-question {
    font-size: 24px;
  }
}